.heroCont{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 650px;
  height: 350px;
  background: #004526;
  opacity: 85%;
  border-radius: 10px;
}
@media only screen and (max-width: 825px) {
  .heroCont{
    width: 100%;
  }
}