.aboutSection{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  /* min-height: 80vh; */
} 
.aboutCont {
  display: flex;
  height: 80vh;
  border: 1px solid black;
  justify-content: center;
  width: 100%;
  margin: 15px 0;
  padding: 10px 5px 5px 10px; 
  background-color: rgba(110,110,110,.7);
  box-sizing: border-box;
  overflow-y: auto;
}

@media only screen and (min-width: 1100px){
  .aboutSection { 
    flex-direction: row;
  }
  .aboutCont {
    width: 33%;
    margin: 15px 15px;
  }
  .aboutRight {
    width: 25%;
  }
}