:root {
  --button-primary: ;
  --button-secondary: ;
  --button-accent: ;

  --text-primary: rgb(250, 243, 237);
  --text-secondary: rgb(30,30,30);
  --text-accent: orange;

  --header-primary: rgb(145, 241, 80);
  --header-secondary: rgb(154, 106, 243);
  --header-accent: rgb(255, 255, 255); 

  --container-tint-primary: 0.82;
  --container-tint-secondary: 0.5;
  --container-tint-accent: 0.45;

  --container-primary-tint: rgba(56,56,56, var(--container-tint-primary));
  --container-secondary-tint: rgba(30,30,30, var(--container-tint-secondary));
  --container-accent-tint: rgba(255,10,50, var(--container-tint-accent));

  --container-primary: rgba(56,56,58);
  --container-secondary: rgba(152,152,203);
  --container-accent: rgb(138, 108, 194);
}
.sectionTitle .header-primary {color: white !important;}
.svg { fill: red;}
.button-primary { 
  background-color: blue;
  color: var(--text-primary) !important;
}
.button-secondary { 
  background-color: rgb(97, 76, 138);
  color: var(--text-primary) !important;
}
.button-accent { 
  background-color: blue;
  color: var(--text-primary) !important;
}
.font-primary { color: var(--text-primary) !important;}
.font-secondary { color: var(--text-secondary)!important;}
.font-accent { color: var(--text-accent)!important;}

.header-primary { color: var(--header-primary)!important;}
.header-secondary { color: var(--header-secondary)!important;}
.header-accent { color: var(--header-accent)!important;}

.container-primary { background-color: var(--container-primary)!important;}
.container-secondary { background-color: var(--container-secondary)!important;}
.container-accent { background-color: var(--container-accent)!important;}

.container-primary-tint { background-color: var(--container-primary-tint)!important;}
.container-secondary-tint { background-color: var(--container-secondary-tint)!important;}
.container-accent-tint { background-color: var(--container-accent-tint)!important;}

.projectCard:hover { 
  background-color: var(--container-accent)!important;
  color: var(--text-accent)!important;
}
.navLink:hover {color: orange; transition: .4s;}
span { color: var(--text-accent)}
.button
.project-button
.modal-button
/* a:hover ,button:hover{ color: var(--text-accent) !important;} */
a:hover ,button:hover, .button-secondary:hover{
  cursor: pointer; 
  color: var(--text-secondary) !important;
  /* background-color: var(--button-secondary) !important; */
  transition: .4s;
}
a:hover, .button:hover, button:hover {cursor: pointer;}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
  color: var(--text-primary) !important;
}



.button:hover{cursor: pointer;}
.p-10{padding: 10px;}
.column {flex-direction: column}
.row {flex-direction: row;}
.border{border: 1px solid black}

/* .fluid {
  background: inherit;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
} */
